    section{
        margin-top: 99px;
      }
      .slogan-banner{
              background-image: url(../images/Banner5.jpg);
              padding: 20px 30px;
              color: #000000;
              display: flex;
        }
      section .slogan-banner .slogan h4{
              font-size: 50px;
              font-family: 'Vujahday Script', cursive;

      }
      section .slogan-banner .slogan{
              justify-content: end;
      }
      .slogan-banner-left{
              width: 75%;
      }
      .slogan-banner-right{
              font-size: 80px;  
              margin-left: 50px;
              margin-top: 40px;
      }
      .story .row{
              margin: 20px 0;
      }
      .story-tittle{
              text-align: center;
              padding: 30px 0;
      }
      .story .container-fluid .col-md-5 img{
              width: 100%;
      }
      .story .container-fluid .col-md-7{
        /* margin: 20px; */
        font-size: 20px;
      }
      section .about-us{
              margin: 0;
              padding: 10px;
              background-color: #77787c;
      }
      .why-choose{
              text-align: center;
              margin-bottom: 60px;
              color: #000000;
      }
      section .about-us .row .col-md-5 img{
        border-radius: 50%;
        width: 70%;
        height: 90%;
        margin-left: 30px;
      }
      section .about-us .row .col-md-7 p{
              font-size: 20px;
              color: #000000;
      }
      section .team{
              text-align: center;
              background-color: #f5b54e;
      }
      section .team h1{
              margin: 0;
              padding: 30px 0;
      }
      section .member .row{
              margin:0;
      }
      section .member .row .col-md-4 img{
              border-radius: 50%;
              width: 70%;
              margin: 30px 10px;
      }
      section .row .col-md-4 .infor{
              margin-left: 30%;
              font-size: 20px;
      }
      section .row .col-md-4 .avatar{
              text-align: center;
      }
      section .member .row .col-md-4{
              background-color: #f5b54e;
      }
      section .member .row .col-md-2{
        background-color: #f5b54e;
      }

      @media screen and (max-width:816px) {
        section{
          margin-top: 140px;
        }
      }
      @media screen and (max-width:1003px) {
        section .slogan-banner .slogan-banner-right{
          font-size: 75px;
          margin-top: 55px;
        }
        section .member .row .infor{
                margin-left: 20%;
        }
        section .slogan-banner .slogan h4{
                font-size: 40px;
        }
      }
      @media screen and (max-width:950px) {
        section .slogan-banner .slogan-banner-right{
          margin-top: 30px;
        }
      }
      @media screen and (max-width:650px) {
        section .slogan-banner .slogan h4{
                font-size: 35px;
        }
      }
      @media screen and (max-width: 575px) {
        section .about-us .col-md-5{
                margin-left: 30px;
        }
        section .member .row .infor p{
                margin-left: 50px;
        }
        section .slogan-banner .slogan h4{
                font-size: 32px;
        }
      }
      @media screen and (max-width:800px) {
        section .about-us .row .col-md-5 img{
          margin-left: 80px;
        }
      }
      @media screen and (max-width:600px) {
        section .about-us .row .col-md-5 img{
          margin-left: 40px;
        }
      }
      

    