.contact .row{
        margin: 0;
        background-color: black;
}
section{
        margin-top: 99px;
}
.contact .col-md-6{
        box-shadow: 0 0 3px 3px gray;
        padding-bottom: 15px;
        color: #f5b54e;
        margin: 30px 0;
}
.contact input[type=text], .contact select {
        width: 100%;
        padding: 10px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
.contact input[type=submit] {
        width: 100%;
        background-color: #f5b54e;
        color: rgb(0, 0, 0);
        padding: 10px 10px;
        margin: 18px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
      }
      
.contact input[type=submit]:hover {
        background-color: #df4949;
        color: #f5b54e;
      }
      
.contact .form {
        border-radius: 5px;
        background-color: #000000;
        padding: 15px;
      }

.contact input[type=text], select, textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
.contact-bottom .row{
        padding: 30px 0;
}
.contact-bottom .row{
        background-color: black;
        text-align: center;
        color: #f5b54e;
        margin: 0;
}
.contact-bottom .row a{
        color: #f5b54e;
}
.contact-bottom .row form{
        margin-top: 30px;
        color: #f5b54e;
        background-color: black;
}
.contact-bottom  select {
        width: 60%;
        padding: 4px;
        border: 1px solid rgb(226, 192, 192);
        border-radius: 4px;
        resize: vertical;
        color: #f5b54e;
        background-color: black;
      }
.contact-bottom .row h4{
        margin: 50px 0;
        font-size: 30px;
}
.contact-bottom input[type=submit] {
        background-color: #000000;
        color: #f5b54e;
        border: 1px solid rgb(226, 192, 192);
        border-radius: 4px;
        padding: 2px;
      }
.contact-bottom input[type=submit]:hover {
        background-color: #f5b54e;
        color: #000000;
      }
.contact-bottom .row .col-md-4{
        border-left: 1px solid rgb(226, 192, 192);
        border-right: 1px solid rgb(226, 192, 192);

}
      