.CurrentPosition{
        padding: 10px 0px 0px 30px;
}
.CurrentPosition__Home{
  text-decoration: none;
  color: #333;
}
.CurrentPosition__Home:hover{
  text-decoration: none;
  color: #FCA311;
}
.CurrentPosition{
  display: flex;
  color:  #333;
}
.CurrentPosition-separate{
  display:block;
  height: 2px 16px 0;
  margin: 0 16px;
  border-left: 1px solid #eaeaea;
}
.CurrentPosition__Page{
  font-weight: 500;
  color: #000;
}
.contact .row{
        margin:0;
}
section{
        margin-top: 99px;
}
.contact{
        background-color: #F9F5EF;
        margin-top: 70px;
        box-shadow: 10px 10px 5px #aaaaaa
}
.contact .col-md-7 img{
        width: 100%;
}
.contact .col-md-7 h3{
        margin: 5px 10px;
}
.contact .col-md-5 form{
        margin-top: 40px;
}
.contact .name{
        display: flex;
}
.contact .name .fist-name{
        margin-right: 10px;
}
.contact .col-md-5 input{
        border: none;
        width: 100%;
        border-bottom: 1px solid black;
        font-size: 17px;
        background-color: #F9F5EF;
}
.contact .col-md-5 .gmail input{
        width: 100%;
        margin-top: 15px;
        
}
/* .contact input:focus{
        background-color: rgb(224, 160, 62);
} */
.contact .col-md-5 .messenger textarea{
        background-color: #F9F5EF;
        margin-top: 30px;
        resize: none;    
        width: 100%;
        border-radius: 3px;
}
.contact .col-md-5 button{
        padding: 5px 10px;
        background-color: #F5B54E;
        border: none;
        border-radius: 5px;
        font-size: 17px;
        margin-top: 20px;
        color: rgb(0, 0, 0);
}
.contact .col-md-5 button:hover{
        background-color:rgb(0, 0, 0);
        color: #F5B54E;
}
.contact .col-md-5 h3{
        margin-top: 30px;
}
.contact .col-md-5 li{
        list-style-type: none;
        margin-top: 20px;
        padding: 5px 0;
}
.icon-inner {
display: inherit;

}
.icon-inner, .ionicon, svg {
        display: inherit;
    }
.contact .col-md-5 li a{
        text-decoration: none;
        
}
.contact .col-md-5 .icon1{
        color: gray;
        margin-right: 10px;
}
/* .contact .name label{
        font-size: 20px;
} */
.contact .contact-bottom{
        text-align: center;
        padding-bottom: 30px; 
}
.contact .contact-bottom h3{
        margin-bottom: 20px;
}
.contact .contact-bottom button{
        background-color: #F5B54E;
        color: rgb(0, 0, 0);
        margin-top: 30px;
        font-size: 17px;
        padding: 2px 15px;
        border-radius: 5px;
        border: none;
}
.contact .contact-bottom button:hover{
        background-color:rgb(0, 0, 0);
        color: #F5B54E;

}
.contact .contact-bottom select{
        width: 70%;
        border-radius: 2px;
        background-color: cadetblue;
}
.contact-map img{
        width: 100%;
        margin-top: 20px;
        border-radius: 5px;
        padding: 20px;
}
.contact-map h3{
        margin-top: 40px;
        margin-left: 10px;
}
@media screen and (max-width:991px) {
        .contact .contact-top li a{
                font-size: 13px;
        }
        .contact .contact-top li p{
                font-size: 13px;
        }
        .contact .contact-bottom .col-md-4 h3{
          font-size: 22px;
        }
        .contact .contact-bottom .col-md-4 p{
                font-size: 14px;
        }
}
    
