
 
  section{
    margin-top: 99px;
  }
  .banner-men.row {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  .col-sm-10{
    padding-left: 0;
    padding-right: 0;
    
  }
  /* .col-sm-10{
    
    text-align: center;
  } */
  .text >a {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 30px;
    top:80%;
    left: 50%;
    font-family: 'Righteous', cursive;
    transform: translatex(-50%)
  }
  
  .col-sm-1{
    padding-left: 0;
    padding-right: 0;
  }
  .banner-women.row{
    margin-top:30px;
    margin-left: 0;
    margin-right: 0;
  }
  .trendding{
    color: black;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .carousel-control-prev-icon{
    color: black!important;
  }
  .rounded{
    width: 100%;
  }
  section button{
    border: 1px solid rgb(0, 0, 0)!important;
    padding: 5px 8px;
    text-align: center;
    margin-top: 40px;
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
  }
  #demo1 .carousel-control-next {
    right: -60px;
    padding: 0 5px;
  }
  #demo1 .carousel-control-prev {
    left: -60px;
  }
  #demo1 .carousel-inner{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #demo1 .carousel-indicators{
    z-index: -1;
  }
  .thumbnail{
    text-align: center;
    box-shadow:rgb(187 185 185) -10px -7px 29px 10px;
    
  }
  .thumbnail a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(114, 76, 76);
  }
  @media screen and (max-width:775px) {
    section{
      margin-top: 140px;
    }
  }
  @media screen and (max-width:575px) {
    .banner-men.row{
      margin-top: 10px;
    }
    .rounded{
      display: none;
    }
    .col-sm-4{
      width: 33.3%
    }
  }
  @media screen and (max-width:825px) {
    #demo1 .carousel-control-next{
      right: -31px;
    }
    #demo1 .carousel-control-prev{
      right: -31px;
    }
  }

