    section{
      margin-top: 97px;
    }
      .bg-dark{
        background-color:#f5b54e!important; 
        padding-top: 3px;
        padding-bottom: 3px;
        
      }
      .navbar-expand-sm .container-fluid{
        flex-wrap: wrap;
      }
      .container-fluid{
        padding:0;
        margin: 0;
      } 
      .dropdown-toggle::after {
        display: none;
      }
      .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #000000;
        border-color: #000000;
    }

      .nav-item .nav-link button{
        border: 1px solid rgb(0, 0, 0);
        margin-right: -5px;
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        font-size: 13px;
      }
      .form-inline .form-control{
        height: 32px;
        width: 150px;
      }
      .container-fluid .nav-top .navbar-brand{
        text-align: center;
        display: contents;
      }
      .container-fluid .nav-top .navbar-brand img{
        width: 8%;
        border-radius: 5px;
        
      }
      .navbar-light .navbar-nav .nav-link{
        color: rgb(0, 0, 0);
      }
      .container-fluid .nav-bottom .nav-link:hover{
        background-color: #000000;
        color: white;
        border-radius: 3px;
      }
      .dropdown:hover>.dropdown-menu {
        display: block;
      }
      .dropdown .dropdown-menu a{
        color: black;
      }
      header .navbar-bottom .nav-item{
        background-color: rgb(0, 0, 0);
        color: rgb(253, 88, 47);
      }
      .btn-primary{
        background-color: #f5b54e;
        border:none;
        color: black;
        /* font-size: 16px; */
      }
      .navbar-light .navbar-nav .active .nav-link{
        background-color: black;
        color: white;
      }
      .dropdown .dropdown-menu a:hover{
        background-color: black;
        color: white;
      }
      .dropdown .btn-primary:hover{
        background-color: black;
      }
      .navbar-nav .dropdown-menu{
        position: absolute;
      }
      /* .dropdown>.dropdown-toggle:active {
          pointer-events: none;
      } */
      .dropdown-menu{
        background-color: #f5b54e!important; 
      }
      
      .container-fluid .nav-bottom .container-fluid {
        justify-content: center;
      }
      .icon1{
        font-size: 24px;
      }
      .follow{
        font-size: 17px;
      }
      .container-fluid .nav-bottom .nav-link{
        font-size: 15px;
      }
      .btn-success{
        background-color: #4c4c4c;
      }
      .navbar-toggler-icon{
        font-size: 10px;
      }
      @media screen and (max-width:1326px) {
        section{
          margin-top: 96px;
        }
      }
      @media screen and (max-width:1306px) {
        section{
          margin-top: 95px;
        }
      }
      @media screen and (max-width:1281px) {
        section{
          margin-top: 94px;
        }
      }
      @media screen and (max-width:1256px) {
        section{
          margin-top: 93px;
        }
      }
      @media screen and (max-width: 830px) {
        section{
          margin-top: 156.33px;
        }
        .nav-item .nav-link button{
        
          font-size: 11px;
        }
        .nav-top .nav-item a{
          font-size: 15px;
        }
        .form-inline .form-control{
          height: 30px;
          width: 230px;
        }
        .container-fluid .nav-top .navbar-brand img{
          width: 18%;
        
        }
      }
      @media screen and (max-width: 775px) {
        section{
          margin-top: 158px;
        }
      }
      @media screen and (max-width: 765px) {
        section{
          margin-top: 156px;
        }
      }
      @media screen and (max-width: 741px) {
        section{
          margin-top: 154px;
        }
      }
      @media screen and (max-width: 720px) {
        section{
          margin-top: 152px;
        }
      }
      @media screen and (max-width: 702px) {
        section{
          margin-top: 150px;
        }
        .container-fluid .nav-bottom .nav-link{
          font-size: 13px;
        }
        .brand {
          font-size: 13px;
        }
        .form-inline .form-control{
          height: 32px;
          width: 150px;
        }
      }
      @media screen and (max-width: 681px) {
        section{
          margin-top:148px;
        }
      }
      @media screen and (max-width: 659px) {
        section{
          margin-top: 146px;
        }
      }
      @media screen and (max-width: 637px) {
        section{
          margin-top: 144px;
        }
      }
      @media screen and (max-width: 635px) {
        section{
          margin-top: 140px
        }
        .container-fluid .nav-bottom .nav-link{
          font-size: 11px;
        }
        .brand {
          font-size: 11px;
        }
        .btn-primary{
          margin-top: -4px;
        }
        /* .nav-top .navbar-nav{
          flex-direction: initial;
        }
        .form-inline{
          flex-flow: initial;
        } */
      }
      @media screen and (max-width: 610px) {
        section{
          margin-top: 138px;
        }
      }
      @media screen and (max-width: 574px) {
        section{
          margin-top: 136px;
        }
      }
      @media screen and (max-width: 575px) {
        .btn-primary{
          padding-left: 0;
        }
        .container-fluid .nav-bottom .container-fluid {
          justify-content: flex-start;
        }
        .navbar .container-fluid{
          display: flex;
        }
        footer .col-sm-6 .footer-right{
          margin-top: 30px;
        }
        footer .col-sm-6 h3{
          font-size: 20px;  
        }
        footer .col-sm-6 .footer-left{
          margin-left: 35px;
        }
      }
      @media screen and (max-width: 542px) {
        section{
          margin-top: 134px;
        }
      }
      @media screen and (max-width: 520px) {
        section{
          margin-top: 132px;
        }
      }
      @media screen and (max-width: 500px) {
        section{
          margin-top: 130px;
        }
      }
      
     
    