.row{
    margin: 0;
}
.CurrentPosition__Home{
    text-decoration: none;
    color: #333;
}
.CurrentPosition__Home:hover{
    text-decoration: none;
    color: #FCA311;
}
.CurrentPosition{
    display: flex;
    color:  #333;
}
.CurrentPosition-separate{
    display:block;
    height: 2px 16px 0;
    margin: 0 16px;
    border-left: 1px solid #eaeaea;
}
.CurrentPosition__Page{
    font-weight: 500;
    color: #000;
}
.products{
    padding: 30px 60px;
    /* background-color: rgb(48, 44, 44); */
    /* color: white; */
}
section .products .product .col-md-8 img{
    width: 48%;
    margin-left: 10px;
    margin-top: 10px;
}
section .products .product .col-md-8 .pro-bottom img{
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
}
section .products .product .col-md-8 .pro-top {
    justify-content: center;
}
section .products .product .col-md-8 .pro-mid {
    justify-content: center;
}
section .products .product .col-md-8 .pro-bottom {
    justify-content: center;
}
section .products .product .col-md-4{
    margin-top: 30px;
}
section .products .product .col-md-4 .p-name p{
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
}
section .products .product .col-md-4 .p-price p{
    font-size: 20px;
    font-family: 'Orelega One', cursive;
 }
.p-size input[type=radio]{
    margin-right: 10px;
}
.p-color input[type=radio]{
    margin-right: 10px;
}
section .product .col-md-4 label{
    font-size: 15px;
    font-family: 'Orelega One', cursive;
}
section hr{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.mt-2 .tab-content h3{
  margin-bottom:20px;
}
textarea{
    resize: none;
}
.feedback{
    margin-top: 35px;
}
.feedback .form .btn {
    width: 20%;
    background-color: #f5b54e;
    color: rgb(0, 0, 0);
    padding: 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
}

.feedback .btn:hover {
    background-color: black;
    color: #f5b54e;
}
.feedback .form {
    border-radius: 5px;
    padding: 15px;  
    text-align: end;
  }
.feedback p{
    font-size: 25px;
}
section .feedback textarea{
    width: 100%;
    height: 100px;
}
section .products .comment h3{
    margin-bottom: 30px;
}
section .products .comment .comment-user p{
    margin-left: 20px;
    margin-top: 15px;
}
section .products .comment .comment-user a{
    font-size: 20px;
}
section .products .comment .comment-user img{
    width: 3%;
    border-radius: 50%;
    margin-right: 10px;
}
section .products .comment .comment-user span{
    text-decoration: none;
}
.buy-button{
    text-align: center;
}
.buy-button .btn{
    margin: 40px 0;
    background-color: #f5b54e;
    color: black;
    margin-left: 4%;
}
.buy-button .btn:hover {
    background-color: black;
    color: #f5b54e;
}
section .also-like{
    margin-top: 150px;
    text-align: center;
}
section .also-like h1{
    margin-bottom: 30px;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
  }
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
  }
#demo1 .carousel-control-next {
    right: -60px;
    padding: 0 5px;
  }
#demo1 .carousel-control-prev {
    left: -60px;
  }
#demo1 .carousel-inner{
    padding-top: 15px;
    padding-bottom: 15px;
  }
#demo1 .carousel-indicators{
    z-index: -1;
  }
.products .thumbnail{
    text-align: center;
    /* background: rgb(143, 138, 136); */
  }
.thumbnail a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Orelega One', cursive;
  }
.thumbnail .p-info{
      margin-top: 15px;
  }
@media screen and (max-width:1111px) {
    section .tab-content p{
        font-size: 15px;
    }
    section .tab-content h3{
      font-size: 25px;
  }
  section .tab-content li{
      font-size: 15px;
  }
  section .feedback .form textarea{
      height: 100px;
  }
  section .buy-button .btn{
      margin-top: 20px;
      font-size: 13px;
  }
}
@media screen and (max-width:1052px) {
      section .tab-content p{
          font-size: 12px;
      }
      section .tab-content h3{
        font-size: 25px;
    }
    section .tab-content li{
        font-size: 12px;
    }
    section .feedback textarea{
        height: 100px;
    }
}
@media screen and (max-width:1034px) {
    
    section .tab-content h3{
      font-size: 22px;
  }
  section .tab-content li{
      font-size: 12px;
  }
  section .feedback textarea{
      height: 100px;
  }
  section .buy-button .btn{
      margin-top: 20px;
      font-size: 10px;
  }
}
@media screen and (max-width:914px) {
    section .product .row .col-md-8 img{
        width: 40% ;
    }
}
@media screen and (max-width:649px) {
    section .product .row .col-md-8 img{
        width: 46% ;
    }
}
@media screen and (max-width: 575px){
    .rounded {
        display: block;
    }
}

