.row{
    margin: 0;
}
.products{
    padding: 30px 60px;
    background-color: rgb(48, 44, 44);
    color: white;
}
section .products .product .col-md-8 img{
    width: 48%;
    margin-left: 10px;
    margin-top: 10px;
}
section .products .product .col-md-8 .pro-bottom img{
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
}
section .products .product .col-md-8 .pro-bottom{
    justify-content: center;
}
section .products .product .col-md-4{
    margin-top: 30px;
}
input[type=radio]{
    margin-right: 10px;
}
section hr{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mt-2 .tab-content h3{
  margin-bottom:20px;
}
.feedback .form .btn {
    width: 20%;
    background-color: #f5b54e;
    color: rgb(0, 0, 0);
    padding: 4px;
    margin-bottom: 50px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
}

.feedback .btn:hover {
    background-color: black;
    color: #f5b54e;
}
  
.feedback .form {
    border-radius: 5px;
    padding: 15px;  
    text-align: end;
  }
section .feedback textarea{
    width: 350px;
}
.buy-button{
    display: flex;
}
.buy-button .btn{
    width: 45%;
    background-color: #f5b54e;
    color: black;
    margin-left: 4%;
}
.buy-button .btn:hover {
    background-color: black;
    color: #f5b54e;
}
section .also-like{
    margin-top: 150px;
    text-align: center;
}
section .also-like h1{
    margin-bottom: 30px;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
  }
  #demo1 .carousel-control-next {
    right: -60px;
    padding: 0 5px;
  }
  #demo1 .carousel-control-prev {
    left: -60px;
  }
  #demo1 .carousel-inner{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #demo1 .carousel-indicators{
    z-index: -1;
  }
  .thumbnail{
    text-align: center;
  }
  .thumbnail a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .thumbnail .p-info{
      margin-top: 30px;
  }


