:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #104A74;
    --border-color: #dbdbdb;
}


    .container-first-row.brand__banner img{
        width: 100%;
        height:auto;
        margin: 10px 0;

    }
    .container-third-row--firstline img{
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }
    .brand__introduction__story-heading{
        font-family: 'Cormorant Infant', serif;
        font-weight: 700;
        font-size: 35px;

    }   
    .wrapper__brand__introduction__story{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Belleza', sans-serif;

    }
   
    .container-third-row--title{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin: 10px auto;
        position: relative;
    }
    .container-third-row--title span{
        display: inline-block;
        padding: 10px;
        z-index: 2;
        background-color: white;
        position: relative;
        font-family: 'Cormorant Infant', serif;
        font-weight: 700;
        font-size: 30px;
    }
    .container-third-row--title::before{
        content:"";
        background-color: var(--border-color);
        width:100%;
        height: 1px;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(50%);

    }