.container-second-row{
    font-family: 'Belleza', sans-serif;
}
.brand__banner-img{
    padding-top: 20px;
}
.men__subBanner-content1{
    display: flex;
    align-items: center;
    justify-content: center
}
.men__subBanner1 img{
    width: 60%;
    height: 100%;
}
.men__subBanner-content2{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
.men__subBanner3 img{
    width: 100%;
    height: 100%;
}
.men__subBanner3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* @media (max-width: 576px) {
    .container-second-row{
        display: none;
    }
} */