:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #FCA311;
    --border-color: #dbdbdb;
}


    .container__main.container.wrapper{
        margin-top: 120px;
    }
    .container__app__signUp-login{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #F9F5EF;
        padding: 30px 0;
        margin-top: 20px;
        box-shadow: 10px 10px 5px #aaaaaa

    }
    .auth-form__img img{
        width: 500px;
        height: 100%;
    }
    .container__app__signUp-login__form.auth-form{
        width: 500px;
        border-radius: 5px;
        overflow: hidden;
    }
    .auth-form__container{
        padding: 0 32px;
    }
    
    .auth-form__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0; 
    }
    .auth-form__header a:hover{
        text-decoration: none;
    }
    .auth-form__heading{
        font-family: 'Cormorant Garamond', serif;
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: var(--text-color)
        }                   
      
    .auth-form__switch-btn{
        font-size: 18px;
        font-weight: 600;
        color:var(--primary-color);
        cursor: pointer;
    }
    
    .auth-form__input{
        width: 100%;
        height: 40px;
        margin-top: 16px;
        padding: 0 12px;
        font-size: 14px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
        outline: none;


    }
    .auth-form__input:focus{
        border-color: #777;
    }
    .auth-form__aside{
        margin-top: 18px;
    }
    .auth-form_policy-text{
        font-size: 12px;
        text-align: center;
        padding: 0 12px;
    }
    .auth-form_text-link{
        color: var(--primary-color);
        text-decoration: none;
    }
    .auth-form__help-link:hover{
        color: var(--text-color);
        text-decoration: none;
    }
    .auth-form__controls{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .auth-form__socials{
        padding: 16px 20px;
        display: flex;
        justify-content: space-around;
        margin-top: 24px; 
    }
    .auth-form__socials-icon{
        font-size: 18px;
        padding-left: 20px;
    }
    .auth-form__socials--facebook{
        color: var(--white-color);
        background-color: #3a5a98;
    }
    .auth-form__socials-facebook.auth-form__socials-icon{
        color: var(--white-color);
    }
    .auth-form__socials-title{
        margin: 0 20px;
    }    
    .auth-form__socials--google{
        color: var(--primary-color);
        background-color: var(--border-color);
    }
    
    .auth-form__help {
        display: flex;
        justify-content: flex-end;
    }
    .auth-form__help-link{
        text-decoration: none;
        font-size: 14px;
        color: var(--primary-color);
    }
    .auth-form__help-separate{
        display:block;
        height: 2px 16px 0;
        margin: 0 16px;
        border-left: 1px solid #eaeaea;
    }
    form .error{
        color: red;
        font-size: 14px;
    }
    
@media (max-width: 997px){
    .auth-form__img img{
        width:300px;
        height: 100%;
    }
}    
@media (max-width: 830px){
    .container__main.container.wrapper{
        margin-top: 180px;
    }
}
@media (max-width: 768px){
    .container__main.container.wrapper{
        margin-top: 180px;
    }
    .auth-form{
        width: 400px;
        margin: 0 auto;
    }
    .auth-form__img img{
        display:none;
    }
    
}
@media (max-width: 396px) {
    .container__main.container.wrapper{
        margin-top: 150px;
    }
    .auth-form{
        width: 300px;
    }
    .auth-form__socials.btn-default{
        font-size: 13px;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px; 
        width: 100px;
        height:30px;
    }
    .auth-form__controls{
        margin-top: 20px;
    }
    .auth-form__socials-icon{
        font-size: 12px;
        padding-left: 10px;
    }
    .auth-form__socials-title{
        margin: 0 15px;
    }  
}